@{
    ViewBag.Title = "Купите мандарин";
}

@model List<Mandarin>
<p>Количество @Model.Count()</p>

<div class="row">
@foreach (Mandarin p in Model)
{

    <div class="col-md-3">
        <div class="border bg-light rounded p-1">
        <div class="product-info">
            <img class="img-fluid" src="~/images/mandarin.jpg" />
            <h3>Лот @(p.Id)</h3>
            <ul class="product-props">
                        <li>Текущая ставка:  @(p.CurrentPrize)</li>
            @if (!p.Bought)
                        {
                            

                                <li>Статус: Продается</li>
                           
                            <button id="bidButton" class="btn btn-success" onclick="location.href='@Url.Action("Bid", "Home", new {id=p.Id})'">Сделать ставку</button>
                            <button id="buyButton" class="btn btn-success" onclick="location.href='@Url.Action("Buy", "Home", new {id=p.Id})'">Выкупить</button>

                        }
                        else
                        {
                            
                                <li>Статус: Куплено</li>
                        
                            <button id="bidButton" class="btn btn-success" onclick="location.href='@Url.Action("Bid", "Home", new {id=p.Id})'" disabled>Сделать ставку</button>
                            <button id="buyButton" class="btn btn-success" onclick="location.href='@Url.Action("Buy", "Home", new {id=p.Id})'" disabled>Выкупить</button>
                        }
                    </ul>
                
        </div>
        </div>

    </div>

} 
</div>